.options-navbar {
  display: flex;
  color: white;
  font-size: 1.5em;
  justify-content: flex-start;
  transition: all 0.5s; /* Transición suave en todas las propiedades */
}

.options-navbar:hover {
  display: flex;
  transition: all 0.5s;
  color: white;
  width: 100%;
  justify-content: start;
  background: linear-gradient(
    90deg,
    rgba(86, 86, 86, 1) 0%,
    rgba(72, 72, 72, 1) 29%,
    rgba(0, 0, 0, 1) 64%
  );
  border-radius: 10px;
  scale: 1.1;
}
